<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="simple-cam-ios" version="0.1.0">
    <name>SimpleCam</name>
    <description>SimpleCam iOS cordova plugin</description>
    <license></license>
    <keywords></keywords>
    <js-module src="www/index.js" name="SimpleCam">
        <clobbers target="navigator.simplecam" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimpleCam">
                <param name="ios-package" value="SCamera"/>
            </feature>
        </config-file>
        <header-file src="src/ios/SimpleCam/SimpleCam.h" />
        <source-file src="src/ios/SimpleCam/SimpleCam.m" />
        <header-file src="src/ios/SCamera.h" />
        <source-file src="src/ios/SCamera.m" />
        <resource-file src="src/ios/SimpleCam/Icons/CameraRotate.png" />
        <resource-file src="src/ios/SimpleCam/Icons/shutter@2x.png" />
        <framework src="AVFoundation.framework" />
        <framework src="ImageIO.framework" />
    </platform>
</plugin>
